<style>
    .instructions {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<div class="instructions">
	<article>
        <p>Welcome to Rich Horwath's Strategy Vault app. Following the belief that concepts change thinking and tools change behavior, this app has been designed as a tool to enhance your strategic thinking capabilities. The following areas have been developed to stimulate you to think strategically on a daily basis:</p>
        
        <p><strong>Insights:</strong> Record via text or voice your insights as they occur on the market, customers, competitors, company and yourself to build your business expertise. </p>
        
        <p><strong>Thought of the Day:</strong> Read a new thought-provoking strategy quotation, fact, or question to engage your strategic thinking competency each day.</p>
        
        <p><strong>Knowledge:</strong> Find articles, videos and podcasts on important strategy topics to increase your knowledge and skills and share with others.</p>
        
        <p><strong>Glossary:</strong> A convenient repository of the key strategy terms and their definitions.</p>
        
        <p><strong>Strategy Process:</strong> An overview of the five phases of the strategy development process and a checklist for completing each step. </p>
        
        <p><strong>Thinking Traps:</strong> Ensure that you and your team aren't falling into any strategic thinking traps by reviewing the checklist and finding ways to improve. </p>
        
        <p>For additional resources, visit <a href="http://www.strategyskills.com" target="_blank">www.strategyskills.com</a></p>
        
	</article>
</div>
