<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">Are You Insightful or Insight-less?</h2>

	<p class="center">by Rich Horwath</p>

	<div class="columns">
		
		<p>Experience, without expertise, means nothing. Zero, zip, zilch. Trees have experience being trees. Think about it. Just because I have 40 years of experience breathing doesn&#8217;t mean I&#8217;m getting better at it. Unless we&#8217;re actively generating insights or learning&#8217;s about our businesses, we&#8217;re simply not taking full advantage of our experience. Insights are the bridge from experience to expertise, and strategic thinking is the way we build that bridge of insights, day in and day out.</p>
		
		<p>We often use experience as the most important factor in hiring or promoting people for jobs. But eighty years of data compiled by J.E. and R.F. Hunter on the hiring process showed that experience is only the <em>fifth&nbsp;</em> best indicator of a job candidate&#8217;s success. Case in point: When Ford Motor Company was searching for a new CEO in 2006, they turned to Alan Mulally, who had exactly zero years of auto industry experience. Bill Ford Jr. insisted that it doesn&#8217;t matter whether you have car experience, it&#8217;s your business insights that determines success. Four years later, Mulally has led Ford to a $19.2 billion dollar swing into profitability.</p>
		
		<p>Don&#8217;t get me wrong. Experience is always going to be the foundation of your success. Research by professor K. Anders Ericsson from Florida State University has demonstrated that deliberate practice over a ten-year period is the key to achieving world-class performance in most fields. Unfortunately, there are many people with 10, 15, 20 years of experience in their field looking for a job. Today, experience is becoming the ante. Great leaders don&#8217;t ask how long you&#8217;ve done something. They ask about the insights you bring to the table and how you&#8217;ve transformed those insights into actionable strategies. In fact, research by Egon Zehnder and</p>
		
		<p>McKinsey and Co. showed that the ability to come up with insights was the most important trait for executives in top-performing companies.</p>
		
		<p>Where do you record your insights or learning&#8217;s about your business? How often do you record these insights?</p>
		
		<p>A prime example of the importance of taking time to think and generate insights is Luis Alvarez, a Nobel Prize-winning physicist. Dr. Alvarez credits his father for giving him the advice that shaped his Nobel Prize-winning career. His father told Luis to invest time each day thinking about what he learned from his work. Luis then spent a half-hour at the end of each day to think about what he was learning from his work and recorded those insights. While we may not believe we have 30 minutes a day to think about our insights, there should be a happy medium between 30 minutes a day and never.</p>
		
		<p>Think about how powerful it would be to go into your annual performance review with a notebook full of the top 50 insights or learning&#8217;s and how you used them to help the business move forward. There are three components to becoming more insightful:</p>
		
		<p><strong>1. Knowledge.</strong> Strategic thinking is defined as &#8220;the ability to generate insights on a continual basis to achieve competitive advantage.&#8221; An insight is when you combine two or more disparate pieces of information in a unique way to create a new approach. The insight provides you with an understanding of the true nature of the issue at hand. My research with 154 companies found that only 3 out of every 10 managers have the ability to generate new insights on a regular basis.</p>
		
		<p>To begin the pursuit of insights, one must first understand what an insight is and have a competent level of knowledge in both content and process. Content consists of the product/ service specifications, attributes and benefits. Process knowledge consists of the ability to understand the market, customers and competitors and design strategies to achieve your goals. Using insights to develop great strategy is akin to cooking. Preparing a delicious recipe requires both ingredients (content) and instructions (process). One without the other means you&#8217;ll be ordering takeout.</p>
		
		<p><strong>2. Tools</strong>. Asking people staring at a blank flip chart in the conference room to come up with new insights is a subtle sign you have no idea what you&#8217;re doing. Productive insight generation is facilitated by the use of questions, frameworks and tools on a consistent basis. Many insights are going to be captured by those people in the organization closest to the customer. It&#8217;s important to give them a forum for sharing those insights with their colleagues and people in other functional areas.</p>
		
		<p>Perhaps the most common forum is the meeting. Too often, meetings with people that have insights swimming around in their heads are wasted by PowerPoint slide-heavy presentations on &#8220;the numbers.&#8221; If your meetings are primarily a series of monologues instead of productive dialogues, you&#8217;re on the path to oblivion. There are roughly 40 different tools that can be used to facilitate strategic conversations and mine people&#8217;s insights. Visit the Strategy Vault at www.strategyskills.com to see a few samples.</p>
		
		<p><strong>3. Approach.</strong> People with lots of experience often believe it automatically translates into expertise. My guess is at one point in your career, you&#8217;ve worked with someone who had a lot of experience but brought little value to the business. Great strategists are constantly asking &#8220;why?&#8221; and &#8220;how?&#8221; questions. They don&#8217;t become complacent with success. They are hungry to improve themselves and the business. They feed that hunger with a steady diet of new insights.</p>
		
		<p>One final note on insights: Beware of &#8220;But Disease.&#8221; You may recall coming in contact with one of these but&#8217;s at a recent meeting. These people begin their replies to any new or different ideas with the phrase, &#8220;Yes, but&#8230;&#8221; &#8220;Yes, but we tried that before,&#8221; &#8220;Yes, but we don&#8217;t have the budget.&#8221; Pretty soon these buts have taken over your meeting and everyone knows how hard it is to get rid of a big but. Begin by replacing &#8220;Yes, but&#8230;&#8221; with &#8220;Yes, and&#8230;&#8221; It forces people to build on each other&#8217;s ideas, not tear them down.</p>

	</div>
</article>