<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">Frankenstrategy</h2>

	<p class="center">by Rich Horwath</p>

	<div class="columns">
		
				
		<p>&#8220;Look! It's moving. It's alive. It's alive... It's alive, it's moving, it's alive, it's alive, it's alive, it's alive, IT&#8230;IS&#8230;ALIVE!&#8221;</p>
		
		<div class="right">Dr. Henry Frankenstein</div>
		
		<p>As the cool, white fog covers the ground on Halloween, beware the creatures lurking in the shadows of your company&#8217;s hallways. Nestled amongst the darkened offices is a single light, perhaps a candlelight, continuing to burn deep into the night. And there in that laboratory of an office, rising from the PowerPoint slides of Hell comes a creature pieced together from differing goals, unclear objectives, and zombie-like tactics. A monster is being created that is so horrific&#8230;so destructive, it can only be called one thing: Frankenstrategy.</p>
		
		<p>Born out of a deranged frenzy of activity to piece together strategies from different functional areas and different levels, Frankenstrategy becomes a walking corpse. Problem is, that corpse represents the business: a combination of unrelated projects, dead-end initiatives and strategies that really aren&#8217;t. Can you identify the 3-5 strategic themes that are driving your business? How about the three most effective and least effective strategic initiatives the business is currently investing in and why they&#8217;re performing that way? If not, Frankenstrategy may be scaring away your customers.</p>
		
		<p>There are three ways to ensure your business is being run on effective strategy.</p>
		
		<p><strong>1. Identify your strategic themes.</strong><br>
		One of the great de-motivators is the lack of clarity around the direction business is heading. Employees and customers alike want a strong sense of where the company is dedicated to playing, winning and serving. Identifying the 3-5 strategic themes, the areas you&#8217;re investing a disproportionate amount of resources to create differentiated value for customers, is an effective way to build internal and external confidence in the business.</p>
			
		<p>Apple continues to excel because there are three clear strategic themes weaving through their products and services: design, integration and convenience. They support these themes with a variety of tightly connected activities that include user- friendly graphical interfaces, design language for coherent visual vocabulary, and virtual app stores for each product category, to name a few.<br>
		<strong>Scary Question:</strong> What are the 3-5 strategic themes driving your business?</p>
		
		<p><strong>2. Align multiple strategies</strong><br>
		As I facilitate leadership development workshops on strategic thinking, one of the most common challenges I hear is the &#8220;strategy sandwich.&#8221; This is the experience managers have when they&#8217;re getting strategies from above (CEO) and below (direct reports) and they begin to feel like the meat in the middle of a strategy sandwich. How exactly do you meld together these different strategies to come up with one giant one? Answer: You don&#8217;t.</p>
		
		<p>What we often forget in the heat of business is that our strategy is first framed by the goals we&#8217;re trying to attain. As others share their strategies with you, make sure you&#8217;re also seeing the goals these strategies are being used to achieve. Then compare these goals with your goals. The more similar the goals, the more similar the strategies will potentially be. However, your strategies are only going to be effective if they&#8217;re a result of a thoughtful understanding of the market, customers, competitors and company <em>at your level of the business.</em><br>
		<strong>Scary Question:</strong> What are your 3-5 goals and their corresponding strategies?</p>
		
		<p><strong>3. Kill underperforming initiatives</strong><br>
		A paradox of Frankenstrategy is that it takes on a life of its own despite the fact it&#8217;s made up of dead pieces. Smart managers identify the dead initiatives quickly and replace them. A McKinsey & Co. study of more than 200 large organizations found that the number one driver of revenue growth was the <em>reallocation&nbsp;</em> of resources from underperforming areas to faster growing ones. Seems like common sense. But 52% of non-C-Level managers said their senior management does not admit mistakes and kill unsuccessful initiatives in a timely manner. Do you?</p>
		
		<p>Alan Mulally, the Ford CEO who arrived in 2006 with no prior auto experience, led the company to a $2.7 billion profit in 2009 as the stock price rose 700%. One of his key themes since his arrival has been to cull initiatives and products. He pruned the Ford brand&#8217;s nameplates from 97 to less than 20. He said, &#8220;I mean we had 97 of these, for God&#8217;s sake! How you gonna make &#8216;em all cool? It was ridiculous!<br>
		<strong>Scary Question:</strong> Which of your strategic initiatives should be killed and to what areas would you reallocate those resources?</p>
		
		<p>Frankenstrategy ambles around mindlessly, striking fear into the hearts of managers forced to implement this monstrosity. Leaders lacking a clear and concise strategic framework to guide the business blindly mix and match tactics to the beast each day. Sooner or later, employees, board members and customers will be at the gate with torch&#8217;s and pitchforks, coming for the mad leader who created Frankenstrategy. Will they be coming for you?</p>

	</div>
</article>