<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">Like the Back of My Hand</h2>

	<p class="center">by Rich Horwath</p>

	<div class="columns">
		
		
		<p>Please complete the following sentences about your spouse, partner or significant other:</p>
		
		<ol>
			<li>Their favorite flavor of birthday cake is&#8230;.</li>
			<li>The name of the high school they attended is&#8230;</li>
			<li>Their favorite musician or band is&#8230;</li>
			<li>Their favorite food is&#8230;</li>
			<li>Their pants size is&#8230;</li>
		</ol>
		
		<p>Ok, so maybe the &#8220;pants size&#8221; one wasn&#8217;t fair. How did you do? How many of the answers were you absolutely sure of? After all, they are arguably the closest person to you in your life. Did you get all five? Really?</p>
		
		<p>I recently led a strategy program with an organization that is the leader in their market. For the dozen senior executives in the room, the average length of industry experience was 23 years. After two days of strategic thinking exercises on the industry, customers, competitors and their organization, one of the main conclusions they arrived at was this: &#8220;Coming into the session, we figured we knew everything there is to know about the business. What amazed us the most is how little we really know about the competition.&#8221; And this is from a market leader who has performed exceptionally well during the past five years.</p>
		
		<p>As we saw in our significant other quiz, just because we occupy the same physical space doesn&#8217;t necessarily mean we know everything we potentially should about our loved one. The same can be said for our competition. Just because we occupy the </p>
			
		
		<p>Right about now, most of you are probably saying, &#8220;Well, that may be the case for others, but we sure know our competitors.&#8221; Ok, prove it.</p>
		
		<ol>
			<li>What positions in the market do your competitors own in the customers&#8217; mind?</li>
			
			<li>Who will be your top competitors three years from now? Why?</li>
			
			<li>Which of the following indirect competition is having the biggest impact on your profitability: suppliers, substitutes, or the status quo?</li>
			
			<li>What are the top five factors of competition in your market: the places where you invest to win (i.e., sales force, marketing, IT, product innovation, etc.)?</li>
			
			<li>Keeping in mind those top five factors of competition, what is your relative resource allocation (time, people, budget) versus the competition for each factor?</li>
			
			<li>What is the quantitative value your offerings provide to customers relative to that of the competition?</li>
			
			<li>What are the main differences between your core assets and capabilities and those of the competition?</li>
			
			<li>What are the top three reasons you&#8217;ve lost business to competitors in the past year?</li>
				
			<li>How are your products/services better than the competition?</li>
			
			<li>Buzzzzzzz. Number 9 was a trick question. There is no &#8220;better.&#8221; Better is subjective in your head. The real question is: What&#8217;s the differentiated value customers perceive between your products/services and the competition?</li>
		</ol>
		
		<p>So how&#8217;d you do this time? Don&#8217;t worry: if you know more about your competitors than your significant other, your secret is safe with me.</p>
		
		<p>One of the questions I often receive during the strategic thinking programs I lead is: &#8220;How can we possibly be expected to know all of this information about our competitors, especially, if they&#8217;re private companies?&#8221; My response is generally: &#8220;You better find out, because your prospective customers will know when they do their homework. Those differences in investment and value between you and the competitors are the factors they&#8217;ll most likely be making their decision on.</p>
		
		<p>Here are three tips for transforming competitive ignorance into competitive intelligence:</p>
		
		<p><strong>1. Question:</strong> The first step to ensuring you have strong competitive intelligence is to pose questions to your team. I&#8217;ve found this to more successful in an off-site setting where people aren&#8217;t distracted by the day-to- day activities and can truly focus on the key issues. It&#8217;s&#189;dayimportant to structure the or full day session with a methodical and comprehensive set of questions and tools to stimulate thinking in order to explore the competitive landscape fully.</p>
		
		<p><strong>2. Link:</strong> During the competitive discussion, numerous insights will be uncovered that can have a dramatically positive impact on the business. Not only will you want to visually capture those insights using competitive models, you&#8217;ll also want to link the competitive insights with customer and market insights. Additionally, an objective look at your internal capabilities is crucial in establishing realistic competitive positioning moving forward.</p>
		
		<p><strong>3. Act:</strong> Develop communication channels from your front-line people (sales, business development, managers), across functional areas and up through levels. This ensures the people with the greatest access to new competitive insights have the ability to share those learnings with others in the organization. This enhances everyone&#8217;s decision making because strategy and tactics should never be set in a vacuum.</p>
		
		<p>Having many years of experience in a business is a double-edged sword. On the one hand, it provides a foundation for intuitive decision-making and the know- how for getting things done. The flipside is we think we know it all. There&#8217;s nothing more dangerous for a business than the complacency that comes from past success. Challenge yourself and your team: how well do you really know your competition? Like the back of your hand?</p>

	</div>
</article>