<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">Putting the Strategy in Sales</h2>

	<p class="center">by Rich Horwath</p>

	<div class="columns">

		<p><em>&#8220;We&#8217;re adding a little something to this month&#8217;s sales contest. As you all know, first prize is a Cadillac Eldorado. Anybody want to see second prize? Second prize is a set of steak knives. Third prize is you&#8217;re fired.&#8221;</em></p>
		
		<div class="right">
			Alec Baldwin in the film<br>
			<em>Glengarry Glen Ross</em>
		</div>
		
		<p>David Mamet&#8217;s Pulitzer Prize-winning play <em>Glengarry Glen Ross&nbsp;</em> is a raw account of the sales profession as Mamet experienced it in the late 1960&#8217;s. While much has changed in the profession since then, one thing has not: a lack of strategic thinking. Don&#8217;t believe me? Here are just a few examples of strategy&#8217;s absence in the sales/account management arena:</p>
		
		<p><strong>1. Short-term focus</strong> &#8212; great strategy takes time to execute. But in many companies, one missed number sets off a tactical fire drill of reactivity with no regards for the impact on long-term performance.</p>
		
		<p><strong>2. Tactically driven</strong> &#8212; many sales/account plans I&#8217;ve seen list the goals, objectives and tactics. What they don&#8217;t tend to identify is the general resource allocation plan, or strategy, to achieve the goals and objectives. If the objectives are not being met, it becomes impossible to set a new course of direction because you never had one in the first place! The business deteriorates into a game of tactical roulette.</p>
		
		<p><strong>3. Flawed performance evaluation</strong> &#8212; it&#8217;s popular to force rank sales people/account managers/regions against one another within the same company. It&#8217;s also moronic. Are you really telling me that the context of the business in New York City, central Iowa and southern California is exactly the same? Of course it&#8217;s not. So how in the world is it reasonable to force rank people on their performances when they may be in dramatically different circumstances? A great account manager in a tough market like Detroit constantly being ranked behind (hence, lower salary raises) a poor account manager in a high performing market like Miami should be unacceptable &#8212; except that it&#8217;s the norm.</p>
		
		<p>Each year, organizations like yours are pouring billions of dollars into training on sales and account management skills. But to be a great sales/account manager today, selling skills are merely the ante to play in the game. In fact, the average sales/account manager isn&#8217;t going to markedly improve their performance by taking one more class that touts: &#8220;A, B, C&#8230;A &#8212; Always, B&#8212;Be, C &#8212; Closing. Always Be Closing!&#8221;</p>
		
		<p>To be a great sales/account manager today means to be a great strategist, to have the ability to outthink and <em>consistently&nbsp;</em> outperform your competition. The Conference Board&#8217;s Annual CEO Survey showed that the top three priorities of CEO&#8217;s are top line growth, profit growth and consistent execution of strategy. The sales/ account management group has the greatest opportunity to help the CEO achieve these goals. But the majority never will because they are unaware of what it means to think strategically about the business.</p>
		
		<p>For those few of you out there that aren&#8217;t worried about who&#8217;s going to win the set of steak knives, there are three things you can begin doing to become better strategists:</p>
		
		<p><strong>1. Diagnose.</strong> Too often, our action-oriented nature drives us to act without first thinking. Before a pilot takes flight, they run through an extensive pre-flight checklist that helps them understand the context or conditions they will be flying in and their correspond- ing preparation. In business, we tend to fly by the seat of our pants in that we perform activities without first stopping to see if they are the right activities in the right situation at the right time.</p>
		
		<p>Here are several questions to ask to ensure you&#8217;ve diagnosed the business situation before prescribing strategy:</p>
		
		<ol>
			<li>How has the market changed in the past six months?</li>
			<li>Which customers are we choosing to serve, and which customers are we choosing not to serve? Why?</li>
			<li>How is our strategic approach to the market different than that of our competitors?</li>
			<li>What factors within the organization are helping and hindering our chances of success?</li>
		</ol>
		
		<p><strong>2. Explore.</strong> Doing the same things in the same ways year after year with the expectation of dramatic new growth is foolish. <em>New growth comes from new thinking&nbsp;</em>. There are approximately 40 strategic thinking tools you and your team can be using to explore new ways to profitably grow your business. How many of those 40 are you currently using?</FONT></P>
		
		<p>Here are several questions to consider in exploring new ways to think about your business:</p>
		
		<ol>
			<li>In what areas are customers under-served? Apple provided under-served MP3 customers with a quick, easy, and legal way to download music with the iTunes music store.</li>
			<li>In what areas are customers over-served? Google made billions of dollars in part because Yahoo over-served customers on their home page with too much clutter. Google gave people a clean white page with one box to enter text and voila!</li>
			<li>If we created a profile of the most dangerous, fictitious competitor, what would they offer and how would they offer it? Can we employ some of those traits?</li>
		</ol>
		
		<p><strong>3. Envision.</strong> To build sustainable success, you must understand your system of strategy. We often hear of strategy referred to as &#8220;the big picture.&#8221; Can you draw that big picture for your business?</p>
		
		
		<p>Here are several questions to help you design the big picture for your business:</p>
		
		<ol>
			<li>What are the 3-5 strategic themes I will focus my resources in to play and win?</li>
			<li>What are the key activities and tactics that support these strategic themes?</li>
			<li>What activities, initiatives, projects, tactics and reports will I STOP doing in order to better focus my resources?</li>
		</ol>
		
		
		<p>Change is hard. The consequences of not changing &#8212; poor performance, getting fired and bankruptcy &#8212; are harder. As Al Pacino&#8217;s character said in <em>Glengarry Glen Ross</em>, &#8220;Your excuses are your own.&#8221;</p>
			

	</div>
</article>