<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">Recipe for a Successful Strategy Workshop</h2>

	<p class="center">by Rich Horwath</p>
	<div class="columns">
		<p>If you&#8217;ve ever enjoyed a good bowl of chili, or suffered through a bad one, you know that there are countless ways to make it. The one constant is a good recipe. The recipe provides direction on the ingredients and the instructions. In a similar way, the strategy workshop provides a good recipe for our business. It combines the ingredients (people, data and research) and the instructions (process, models and frameworks) to cook up a winning strategy.</p>
		
		
		<p>Unfortunately, when it comes to strategy workshops, the numbers can give us indigestion. Research out of Harvard Business School has shown that 85% of executive leadership teams spend less than one hour a month discussing strategy with 50% spending no time at all. In addition, a study by the Economist Intelligence Unit showed that only 11% of executives are highly satisfied with their organization&#8217;s strategy development programs.</p>
		
		<p>A thoughtfully crafted and professionally facilitated strategy workshop can help you re- energize the business and jump-start morale. A strategy workshop also provides the following benefits:</p>
		
		<ol>
			<li><strong>Creates a shared understanding of the business.</strong> By having a thorough discussion around the four key areas of the business: market, customers, competitors and company, you can ensure that people in different functional areas and at different levels are all working in the same direction.</li>
			<li><strong>Generates innovation.</strong> True strategic thinking requires you to challenge assumptions about the business. When you challenge even the most basic of assumptions, you begin generating new insights leading to new value for customers &#8212; the basis of innovation.</li>
			<li><strong>Creates prepared minds.</strong> Strategy workshops serve the dual purpose of developing strategy and training managers on the key concepts, tools and frameworks of strategy. A study by the Institute of Directors showed that 90% of executives at the director and VP level have had no training to become competent strategists. Strategy workshops can develop managers&#8217; strategic thinking skills in a practical and interactive way.</li>
			<li><strong>Evaluation of manager's business acumen.</strong> There&#8217;s a big difference between filling out a PowerPoint template on planning and contributing to a live discussion on strategy. The latter requires the ability to effectively listen to others, synthesize facts from different areas and generate new business insights in a real-time setting. There is no better forum to evaluate the strategic capabilities of your managers.</li>
		</ol>
		
		<p>The strategy workshop combines these benefits into the three focal points that feed success:</p>
		
		<ol>
			<li><strong>Greater effectiveness &#8212; doing the right things.</strong></li>
			<li><strong>Greater efficiency &#8212; doing things right.</strong></li>
			<li><strong>Greater innovation &#8212; doing new things.</strong></li>
		</ol>
		
		
		<p>The importance of these benefits to an organization is enough to whet any good leader&#8217;s appetite. In order to realize these benefits, there are five steps to running a successful strategy workshop:</p>
		
		<ol>
			<li><strong>Determine the intent of the workshop.</strong> What are your goals for the workshop? Is the workshop part of an overall strategy development process? Not only can the strategy workshop build a strong foundation for the future success of the business, it can also serve to increase the confidence and commitment of your team. Nothing builds the morale of a team faster than having a clear direction and purpose for your people to work towards. The goals of a great strategy workshop include both the heart and mind.</li>
			
			<li><strong>Identify the participants.</strong> Do you have representation from all of the key functional areas? Are you limiting the meeting to only senior executives or are you including some highly strategic middle managers as well? Research has shown that more than half (56%) of strategy workshops don&#8217;t include any middle managers, potentially excluding the views of those closer to customers. Middle managers can hold the strategic keys to your future because they often act as the filter for which initiatives are brought to senior management and which never see the light of day. The strategy workshop is a dynamic forum for nurturing the strategic thinking skills of these future senior leaders of the organization.</li>
			
			
			<li><strong>Provide a pre-workshop Strategy Survey.</strong> In order to maximize time during the workshop, it&#8217;s critical to have participants think through and capture relevant business intelligence beforehand. A tool such as the Strategy Survey provides a brief but comprehensive guide for managers to consider the most important pieces of the business. Research has shown that 45% of workshop participants spend less than half of a day preparing before the session. This lack of preparation prior to the workshop drains valuable face-to-face meeting time and is a result of poor planning. The Strategy Survey should surface information in five key areas: market, customers, competitors, company and the strategy itself.</li>
			
			<li><strong>Prepare and focus the group with pre-reading.</strong> Providing the group with one or two reasonable reading assignments (articles, book chapters, etc.) before the workshop educates the team on important concepts, tools and frameworks. Pre-reading also focuses the team on the strategic perspective necessary for the workshop, helping them to elevate their thinking out of the day-to-day tactical operations that can choke off big- picture insights. Along with strategy pre- reading, consider providing other written or visual materials that represent important concepts in the strategy workshop. For instance, using unique architectural drawings or an encounter seen in the animal kingdom can spark strategic thinking that inspires new direction.</li>
			
			
			<li><strong>Design the meeting framework.</strong> As a senior leader, your reputation is on the line when you put together a strategy workshop. Nothing can destroy the confidence a team has in their leader faster then a meeting with a vague agenda, rambling off-point discussions and a weak facilitator. A good facilitator has expertise in the strategy process, can identify the handful of models (out of the potential 40 or so) that are right for the business and can skillfully lead the group through the complex and non-linear path of strategic thinking. Many organizations use an external facilitator to neutralize political pressures, potential conflicts and competing priorities. An external facilitator can also challenge the group&#8217;s homogenous thinking and fill the devil&#8217;s advocate role necessary for change.</li>
		</ol>
		
		<p>After the initial strategy workshop, a list of action steps, responsibility and accountability should be developed along with a time line. A follow-up workshop is then conducted approximately four weeks later to report back on the progress made since the team was last together. Properly done, the strategy workshop provides an effective and efficient means for educating, inspiring and preparing your management team to excel in their business. Improperly done, the strategy workshop wastes time, eats away at morale and creates doubt in a team&#8217;s mind about the competency of their leader. Bon app&#233;tit!</p>
	
	</div>
</article>