<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">Senior Leader or Stuffed Shirt?</h2>

	<p class="center">by Rich Horwath</p>

	<div class="columns">
		
		<p>Pop quiz time:<br>
		Competitive advantage is built on the following three components:</p>
		
		<ol style="list-style: upper-alpha;">
			<li>Value, profitability and growth.</li>
			<li>Capabilities, activities and offerings.</li>
			<li>People, technology and strategy.</li>
		</ol>
		
		<p>Well, what&#8217;s your answer? In the for-profit world, competitive advantage is the Holy Grail. So it stands to reason that folks working in for-profit companies would know the answer, especially senior-level executives. Raise the question at your next staff meeting and it should make for interesting conversation.</p>
		
		<p>Strategic thinking fuels the creation of competitive advantage. <em>Chief Executive Magazine&#8217;s&nbsp;</em> study on leadership showed that strategic thinking is the #1 ranked, most valued skill in leaders today. However, a recent study in <em>T+D Magazine&nbsp;</em> showed 53% of companies believe strategic thinking is the skill their senior-level executives most need to improve.</p>
		
		<p>And therein lies the challenge. It&#8217;s assumed since someone holds a senior-level title, they have acquired the knowledge, skills and tools to think strategically. Unfortunately, more than half the companies out there know it isn&#8217;t true. Yet, few are doing anything about it. The sobering fact in today&#8217;s economy is 50% of bankruptcies are caused by bad strategy. If your senior executives don&#8217;t have the skills and tools to think strategically today, you may not have a business tomorrow.</p>
		
		<p>Competitive advantage is defined as &#8220;an offering of superior value based on differences in capabilities and activities.&#8221; As a senior-level executive, you can shape competitive advantage for your business by understanding and leveraging its three components.</p>
		
		
		<h3>Capabilities</h3>
		
		<p>The genesis of products and services are capabilities, which consist of resources and core competencies. Capabilities can be classified as one of two types: distinctive or reproducible. Distinctive capabilities are those that cannot be emulated by competitors or can only be emulated with extreme difficulty. Distinctive capabilities allow an organization to do things for less money than its rivals or to do something that its rivals simply cannot do. Reproducible capabilities are those that can be successfully replicated by competitors.</p>
		
		<p>A fundamental component of sustainable competitive advantage is to have distinctive capabilities. These come in a variety of forms, including intellectual property, marketing expertise leading to strong brands, effective leadership, and organizational culture. Most initial searches for competitive advantage begin with the offerings themselves. However, true competitive advantage takes root at the deeper level of capabilities.</p>
		
		
		<p>Additionally, research has shown that competitive advantage built on capabilities derived from resources is sustained by these four conditions:</p>
		
		<ol>
			<li>Resources are heterogeneous, that is, different from firm to firm. If all firms have identical resources, it is difficult to gain an advantage.</li>
			
			<li>Market for resources must not be equal in providing the same resources, or access to resources, across the board.</li
			
			><li>Market for products must vary in that resources are challenging to copy and difficult to replace with substitutes or alternatives.</li>
			
			<li>Resources must not be mobile, or easily transferred from one firm to another, by being embedded in capabilities.</li>
		</ol>
		
		<h3>Activities</h3>
		
		<p>Activities are where capabilities merge with resource allocation decisions to be transformed into the offerings that customers see. The activities selected to invest in, or not invest in, determine the strategic focus. The challenge most executives face trying to determine their competitive advantages is that they look at the entire organization or product as a whole. It&#8217;s not until the organization or product is broken down into individual activities that a clearer assessment of competitive advantage emerges.</p>	
		
		<p>Individual activities fall into categories, such as supply chain management, operations, marketing, distribution, and service relative to the offering. The combination of these activities is commonly referred to as the company&#8217;s value chain. While these primary activities are what produce most of the value a customer sees, they are supported by secondary activities, such as research and development, human resources, systems development, and other important tasks that facilitate the performance of the primary activities.</p>
		
		<p>In performing this analysis of activities, it becomes clear that having multiple activities working in unison is a key driver of success. Relying solely on one differentiating activity to keep competitors at bay is like relying on one bullet to stop a charging rhinoceros. In either case, you&#8217;re likely to get trampled. Once the business is assessed at the individual activity level, the all-important relationships and linkages among activities can be evaluated. These linkages can lead to competitive advantage through both optimization (combining activities across functions to become more efficient or effective) and coordination (providing a seamless offering to customers).</p>
		
		<h3>Offerings</h3>
		
		<p>The weapons ultimately brandished in competitive battles come in the form of offerings. The offerings brought to the market embody the strategy and are the central element of competition among firms, providing the tangible representation of this competition to customers. When customers perceive consistent differentiated value relative to the competition for their key purchasing criteria, you&#8217;ve begun to establish competitive advantage. And if that differentiated value is built on distinctive capabilities and activities, you have a great chance of sustaining it.</p>
		
		<p>Senior leaders are often asking people to step up their performance. Well, senior leader, your time is now. Don&#8217;t just talk the talk. Walk the walk, right into the promised land of competitive advantage.</p>


	</div>
</article>