<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">Tactical or Strategic?</h2>

	<p class="center">by Rich Horwath</p>

	<div class="columns">


		<p><em>&#8220;There&#8217;s no way we could have predicted it (economic downturn affecting revenue). But we&#8217;ve got to react to it.&#8221;</em></p>
		
		
		<div class="center">
			<em>Local Politician<br>
			(Name withheld to protect the ignorant)</em>
		</div>
		
		<p>Do you <em>get it?&nbsp;</em> Translation: Are you strategic? How often have you overheard a group talking about a leader and saying, &#8220;She/he just doesn&#8217;t get it&#8221;? Do they say that about you?</p>
		
		<p>Well, are you tactical or strategic? Does it even matter? A recent study conducted by the <em>Wall Street Journal&nbsp;</em> of corporate human resources and leadership development executives identified the top 5 executive skills sought by organizations:</p>
		
		<ol>
			<li><em><strong>Strategic thinking</strong></em></li>
			<li>Ability to work across functions</li>
			<li>Ability to drive results</li>
			<li>General leadership</li>
			<li>Core financial understanding</li>
		</ol>
		
		<p>So, yes, it does matter. The real question is how can we continually hone our strategic thinking skills in order to thrive in today&#8217;s turbulent economic times? The fact is most of us are now required to be more successful with fewer resources. And that is the heart of strategic thinking: generating and applying business insights on a continual basis to achieve competitive advantage. There are four strategic thinking themes to elevate us from the tactical to the strategic realm on a regular basis.</p>
		
		
		<h3>Theme #1: Understand the &#8216;Why?&#8217;</h3>
		
		
		<p>Strategic leaders start with &#8216;why&#8217; and then work to ensure everyone else understands the &#8216;why.&#8217; One expression of &#8216;why&#8217; comes in the form of mission, vision and values. Unfortunately, these are usually such watered down, consensus- driven yawns that they don&#8217;t guide, much less inspire action. If your mission and vision statements don&#8217;t bump up your pulse a few beats, then rework them or find a company who actually has a worthwhile purpose. Five questions to get to &#8216;why&#8217;:</p>
		
		<ol>
			<li>Why do we do what we do?</li>
			<li>Why do we make money?</li>
			<li>Why do our best customers stay with us?</li>
			<li>Why do we lose customers?</li>
			<li>Why would a prospective customer choose us over our competition?</li>
		</ol>
		
		<h3>Theme #2: Do Things Differently</h3>
		
		
		<p>How many of you have been to both Barnes and Noble and Borders stores? Can you tell the difference? Me neither. Here&#8217;s a quote from someone who has been to both: &#8220;I was thinking back on stores I'd been to and I thought to myself, 'Was that a Borders or Barnes and Noble? There's an opportunity to have a good experience at both, but they're not differentiated enough." This isn&#8217;t surprising except for who said it: George Jones, the CEO of Borders. If the CEO can&#8217;t tell the difference between his stores and the competitors, you can bet the customers can&#8217;t either.</p>
		
		<p>Strategy is inherently about doing different things than the competition or doing the same things in different ways than the competition. It&#8217;s not about being better, it&#8217;s about being different. Better is often subjective: is blueberry pie better than lemon meringue? It depends, but it&#8217;s definitely different and I can sell you on those differences. Sam Palmisano, CEO of IBM, sums it up nicely: "The holy grail of strategic thinking is, how do you come up with a business model that differentiates you and that creates value for your customers and by doing that, puts you in a unique position in your industry?"</p>
		
		
		<p>Five questions to get to differentiation:</p>
		
		<ol>
			<li>What are the different activities we perform versus the competition?</li>
			<li>What are the similar activities we perform in a different way than the competition?</li>
			<li>What are the differences in our offering that are highly relevant to customers?</li>
			<li>What is the difference in value our offering provides to customers?</li>
			<li>What else can we do to feed our positive differentiation?</li>
		</ol>
		
		<h3>Theme #3: See the System</h3>
		
		<p>Our lives are filled with systems. From the biological systems that make our bodies function to the weather systems that create these ridiculous stretches of frigid temperatures (hey Al, can we have the Nobel for global warming back?). When it comes to our business, we understand many of the challenges we face come from the complex systems of multiple functions (do marketing and R&D talk more than once a year), vendors, suppliers, changing customer demands, etc.</p>
		
		<p>If we don&#8217;t have practical tools for mapping these systems out, we&#8217;re likely to make comments like the one at the beginning of this article demonstrating the predisposition for being reactive versus being proactive. When it comes to understanding your system of strategy, a tool such as the Activity System Map can be of great value. The Activity System Map enables you to visualize your entire business, including both strategic themes and tactics, on one page. Just as important, it shows the relationships or lack of relationships between your strategies and tactics. Five questions to see the system:</p>
		
		<ol>
			<li>Who are all of the players in this system?</li>
			<li>What are the relationships in this system?</li>
			<li>What are the strategic themes in our strategy system?</li>
			<li>What are the tactics we use to support those strategic themes?</li>
			<li>What tactics can we prune from the system to stimulate new growth in other areas?</li>
		</ol>
		
		<h3>Theme #4: Discipline to Trade-off</h3>
		
		<p>The Latin word for decision is <em>decidere&nbsp;</em> which means "to cut off.&#8221; Problem is, some managers don&#8217;t have the stomach for risk these days. Worse yet, many companies directly or indirectly punish good people for making trade-offs that don&#8217;t pan out. The great companies realize the value and power of making trade-offs to focus resources. Apple COO Tim Cook says, "One traditional management philosophy that's taught in many business schools is diversification. Well, that's not us.&#8221; Apple focuses their resources on a handful of products that blow their competition out of the water. An example of their resource allocation discipline and making trade-offs: they eliminated their most popular iPod (Mini) the day they brought out the Nano. How many of us would have the guts to eliminate our most popular product the day we launched a new unproven entry? Five questions to make trade-offs:</p>
		
		
		<ol>
			<li>What customer groups are we not going to serve?</li>
			<li>What facets of our product/service are we not going to offer?</li>
			<li>What tactics can we eliminate that are no longer adding differentiated value to customers?</li>
			<li>What paperwork can I eliminate for my managers to allow them to focus on generating greater value to internal or external customers?</li>
			<li>What are the top five entries on my &#8220;Don&#8217;t Do&#8221; list?</li
		></ol>
		
		
		<p>Most books and training programs only address the first three levels of strategy: corporate, business unit and functional group. In reality, these are all subsets of the most important level of strategy: YOU. The individual level is where strategy is actually created. Unfortunately, 90% of directors and vice presidents have never had any learning & development opportunities on strategic thinking. The good news for you is that by applying the four themes of strategic thinking, you can elevate yourself from tactical to strategic. The better news is that in doing so, not only will you become more valuable to your organization, you&#8217;ll separate yourself and your business from the competition. Do you <em>get it?</em></p>
		
					

	</div>
</article>