<style>
    .article {
        padding: 15px;
        font-family: "Helvetica";
    }
</style>
<article class="article">
	<h2 class="center">The Strategy Tune-Up: Start Your Engines</h2>

	<p class="center">by Rich Horwath</p>

	<div class="columns">
	
		<p><em>&#8220;Drive thy business, let it not drive thee.&#8221;</em></p>
		<div class="right">Benjamin Franklin</div>
		
		
		<p>Most people wouldn&#8217;t think of going a year or two without maintenance on their car &#8212; changing the oil, checking the filters, rotating the tires. But many of those same people go 12, 18, 24 months without doing a brief tune- up or diagnostic of their business and its strategy. We spend more time tuning up our $40,000 vehicles than we do our multi- million/billion dollar businesses.</p>
		
		<p>Research published in the <em>Harvard Business Review&nbsp;</em> showed that 85% of executive leadership teams spend less than one hour per month discussing strategy, with 50% spending no time at all. Contrast that with Amazon.com. Amazon&#8217;s CEO Jeff Bezos (recently rated the 7 th best performing CEO in the world in a study by INSEAD) said that his senior management team spends four hours every Tuesday discussing strategic issues. Not budget. Not tactics. Not operations. Strategy. He expects those strategy discussions to happen throughout the organization. This type of discipline has played an integral role in Bezos&#8217; ability to increase the wealth of Amazon.com&#8217;s shareholders by $37 billion over the past 13 years.</p>
		
		<p>While investing four hours every Tuesday to discuss strategic issues may not seem realistic for you, there should be a happy medium between four hours a week and once-a-year for two days at the strategic planning off-site meeting held at the Holiday Inn. Think back on the past few months of meetings. How much time has your team invested in discussing strategy? Bring a notebook to your next manager&#8217;s meeting and jot down the topics and time spent on them. Afterwards, classify each of the items with the following designations: S: Strategic, F: Financials, O: Operations, T: Tactics. What does your breakdown look like?</p>
		
		<p>There are four steps to conducting a successful strategy tune-up workshop.</p>
		
		<h3>Step 1: Discovery.</h3>
		
		<p>Prior to the strategy tune-up workshop, it&#8217;s important to compile all of the new information and data in the four areas of the business: market, customers, competitors and company. A tool such as the Strategy Survey can be an effective way of having team members think through key questions about their business before the face-to-face meeting. Here is a sample of questions from the Strategy Survey:</p>
		
		<p><strong>Market:</strong><br>
		What are the key social factors affecting the market?<br>
		What are the key technological factors affecting the market?</p>
		
		<p><strong>Customers:</strong><br>
		Which customer groups are you choosing not to serve?<br>
		How do you add differentiated value to the customer?</p>
		
		<p><strong>Competitors:</strong><br>
		Who are your most dangerous competitors?<br>
		What non-traditional competitors could appear in our market in the next three years?</p>
		
		<p><strong>Company:</strong><br>
		What are the three components your business model is built on?<br>
		What are the top threats facing the business?</p>
		
		<p>In addition to completing the Strategy Survey, team members should review the strategic thinking models from their previous strategy workshop. Hopefully, your team is using at least two models for each of the four areas (market, customers, competitors and company) to generate new insights.</p>
			
		<h3>Step 2: Strategic Thinking</h3>
		
		<p>The Strategy Tune-up workshop begins with a conversation of the key business issues as framed by the specific strategic thinking models. This ensures that you are covering all four bases of the business to prevent being blindsided by something because it didn&#8217;t happen to be a &#8220;hot topic&#8221; on the agenda. It&#8217;s comfortable and customary to begin with a presentation of the financials: year-to-date performance on key metrics, budget expenditure versus prior year, etc. It&#8217;s also a huge mistake.</p>
		
		<p>If your team is truly challenging the fundamental assumptions of the business and seeking to generate new insights that will lead to competitive advantage, beginning with the numbers can crush that exploratory spirit. Instead, the agenda should have a methodical review of the visual models. The intent of these models is to facilitate a rich dialogue between team members on the market, customer, competitor and company issues.</p>
		
		<h3>Step 3: Strategic Planning</h3>
		
		<p>Once the four areas of the business have been mined for new insights using the strategic thinking models, we turn our attention to how these insights affect the current plan. Do the insights indicate we need to make fundamental changes to the goals and objectives (<em>what</em>&nbsp;&nbsp;we&#8217;re trying to attain) or the strategy and tactics (<em>how</em>&nbsp;&nbsp;we&#8217;ll attain them)? This is also the appropriate time to discuss financial performance, milestone attainment and other metrics.</p>
		
		<h3>Step 4: Strategy Rollout</h3>
		
		<p>The Strategy Tune-up workshop should conclude with a summary of what-who-when. What are the key initiatives? Who is responsible for the initiatives? And when is the time frame for completion? Consideration for who should receive communication on these changes and the appropriate communication vehicles is also an important part of the wrap-up.</p>
		
		<p>If these four steps for successful Strategy Tune-ups are followed, your company will be closer to achieving their goal of sustainable competitive advantage.</p>

	</div>
</article>